<ion-header>
  <ion-navbar>
    <ion-title black align="center">Álcool ou Gasolina</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div padding>

    <form padding [formGroup]="valuesForm" (submit)="validar()" novalidate>
      <ion-list>

        <ion-item>
          <ion-label color='primary' floating> Gasolina </ion-label>
          <ion-input [(ngModel)]="gasolina" formControlName="gasolina" type="number">
          </ion-input>
        </ion-item>

        <h6 *ngIf="erroGasolina" class="erro">{{messageGasolina}}</h6>

        <ion-item>
          <ion-label color='primary' floating> Álcool</ion-label>
          <ion-input [(ngModel)]="etanol" formControlName="etanol" type="number">
          </ion-input>
        </ion-item>

        <h6 *ngIf="erroEtanol" class="erro">{{messageEtanol}}</h6>

        <ion-item>
          <div padding>
        
            <button ion-button color="primary" full>
              <ion-icon ios="ios-speedometer" md="md-speedometer"> Comparar </ion-icon>
            </button>
          </div>        
        </ion-item>

    
      </ion-list>

        
    </form>

  </div>
</ion-content>